body {
  background-color: #202121;
}

.mainContainer {
  background-color: #202121;
  display: flex;
  /* border-width: 1px;
  border-color: red;
  border-style: dashed; */
  min-height: 100vh;
  min-width: 100vw;
  flex-wrap: wrap;
}

/* .headerHeroContainer {
  display: flex;
  flex-direction: column;
} */
header {
  background-color: #202121;
  /* background-color: rgb(10, 11, 14); */

  margin: 0;
  padding: 0;
  display: flex;
  /* border-width: 5px;
  border-color: rgb(225, 226, 223);
  border-bottom: solid; */
  height: 10vh;
  width: 100vw;
  align-items: flex-start;
  justify-content: space-between;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

hero {
  background-color: #202121;
  display: flex;
  border-top: 2px solid rgb(225, 226, 223);
  border-bottom: 4px solid rgb(173, 110, 38);
  height: 29vh;
  width: 100vw;
  /* max-height: 350px; */
  justify-content: space-between;
  line-height: 0.85;
}

navbar {
  background-color: #202121;
  color: rgb(225, 226, 223);
  display: flex;
  /* border-width: 1px;
  border-color: blue;
  border-style: dashed; */
  width: 20vw;
  height: 60vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.content {
  background-color: #202121;
  display: flex;
  flex-wrap: wrap;
  /* border-width: 1px;
  border-color: purple;
  border-style: dashed; */
  width: 79vw;
  height: 60vh;
}
.iconContainer {
  margin-top: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: space-around;
  /* align-items: space-between; */
  /* color: #4d4e4e; */
  color: #4d8d8d;
  font-size: 2vw;
  width: 20vw;
  min-height: 100px;
}
/* span {
  letter-spacing: -0.1em;
} */
/* #W {
  letter-spacing: -0.1em;
} */
h1 {
  border-right: 5px solid red;
  font-size: 8vh;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  border: 0;
  color: rgb(225, 226, 223);

  margin-left: 25px;
}

h2 {
  font-size: 14vh;

  margin: 0;
  color: rgb(225, 226, 223);
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  margin-right: 25px;
}

h3 {
  margin-left: 10px;
  letter-spacing: 1em;
  font-size: 1.6vw;
  border-bottom: 2px solid rgb(225, 226, 223);
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

a {
  color: rgb(225, 226, 223);
  text-decoration: none;
}

#project1wrapper,
#project2wrapper,
#project3wrapper,
#project4wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px dashed red; */
  width: 39.2vw;
  height: 40vh;
}

#project1,
#project2,
#project3,
#project4 {
  color: rgb(225, 226, 223);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(red yellow); */

  /* width: 80%;
  height: 80%; */

  /* background-color: yellow; */
}

/* #project1 {
  background-image: url("/assets/images/p1.jpg");
  
}

#project2 {
  background-image: url("/assets/images/p2.jpg");
}
#project3 {
  background-image: url("/assets/images/p3.jpg");
}
#project4 {
  background-image: url("/assets/images/p4.jpg");
} */

img {
  height: 35vh;
  width: 35vw;
  /* transition: width 2s; */
  /* transition: height 2s; */
}

h4 {
  font-size: 200%;
  position: absolute;
  margin-top: 15%;
  margin-right: 17%;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

img:hover {
  transform: scale(1.1);
  opacity: 0.2;
}

@media screen and (max-width: 2030px) {
  navbar {
    display: none;
  }

  header {
    background-color: #202121;
    /* background-color: rgb(10, 11, 14); */

    margin: 0;
    padding: 0;
    display: flex;
    /* border-width: 5px;
  border-color: rgb(225, 226, 223);
  border-bottom: solid; */
    height: 8vh;
    width: 100vw;
    align-items: flex-start;
    /* justify-content: space-between; */
    font-family: "Kumbh Sans", sans-serif;
    font-family: "Roboto", sans-serif;
  }
  .iconContainer {
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-around;
    /* align-items: space-between; */
    /* color: #4d4e4e; */
    color: #4d8d8d;
    font-size: 2vw;
    width: 30vw;
    height: 50vw;
    /* min-height: 100px; */
  }

  h1 {
    border-right: 5px solid red;
    font-size: 6vh;
    margin: 0;
    margin-top: 3px;
    padding: 0;
    border: 0;
    color: rgb(225, 226, 223);

    margin-left: 25px;
  }

  hero {
    background-color: #202121;
    display: flex;
    border-top: 2px solid rgb(225, 226, 223);
    border-bottom: 4px solid rgb(173, 110, 38);
    height: 20vh;
    width: 100vw;
    /* max-height: 350px; */
    justify-content: space-between;
    line-height: 0.85;
  }

  h2 {
    font-size: 10vh;

    margin: 0;
    color: rgb(225, 226, 223);
    font-family: "Kumbh Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    margin-right: 25px;
  }

  .content {
    background-color: #202121;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 60vh;
  }

  #project1wrapper,
  #project2wrapper,
  #project3wrapper,
  #project4wrapper {
    display: flex;
    justify-content: center;
    align-items: space-between;
    width: 100vw;
    height: 60vh;
  }

  img {
    height: 60vh;
    width: 80vw;
  }
}

@media screen and (max-width: 1500px) {
  navbar {
    display: none;
  }

  header {
    background-color: #202121;
    /* background-color: rgb(10, 11, 14); */

    margin-bottom: 0;
    padding: 0;
    display: flex;
    /* border-width: 5px;
  border-color: rgb(225, 226, 223);
  border-bottom: solid; */
    height: 1vh;
    width: 99vw;
    align-items: flex-start;
    /* justify-content: space-between; */
    font-family: "Kumbh Sans", sans-serif;
    font-family: "Roboto", sans-serif;
  }
  h1 {
    border-right: 5px solid red;
    font-size: 4vh;
    margin: 0;
    margin-top: 3px;
    padding: 0;
    border: 0;
    color: rgb(225, 226, 223);
    margin-bottom: 0;
    margin-left: 25px;
  }

  hero {
    background-color: #202121;
    display: flex;
    border-top: 2px solid rgb(225, 226, 223);
    border-bottom: 4px solid rgb(173, 110, 38);
    height: 15vh;
    width: 100vw;
    /* max-height: 350px; */
    justify-content: space-between;
    line-height: 0.85;
  }

  h2 {
    font-size: 7vh;

    margin: 0;
    color: rgb(225, 226, 223);
    font-family: "Kumbh Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    margin-right: 25px;
  }

  .content {
    background-color: #202121;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 60vh;
  }

  #project1wrapper,
  #project2wrapper,
  #project3wrapper,
  #project4wrapper {
    display: flex;
    justify-content: center;
    align-items: space-between;
    width: 100vw;
    height: 60vh;
  }

  img {
    height: 55vh;
    width: 80vw;
  }
}

@media screen and (max-width: 1200px) {
  navbar {
    display: none;
  }

  header {
    background-color: #202121;
    /* background-color: rgb(10, 11, 14); */

    margin: 0;
    padding: 0;
    display: flex;
    /* border-width: 5px;
  border-color: rgb(225, 226, 223);
  border-bottom: solid; */
    height: 1vh;
    width: 100vw;
    align-items: flex-start;
    /* justify-content: space-between; */
    font-family: "Kumbh Sans", sans-serif;
    font-family: "Roboto", sans-serif;
  }
  h1 {
    border-right: 5px solid red;
    font-size: 4vh;
    margin: 0;
    margin-top: 3px;
    padding: 0;
    border: 0;
    color: rgb(225, 226, 223);
    margin-bottom: 0;
    margin-left: 25px;
  }

  hero {
    background-color: #202121;
    display: flex;
    border-top: 2px solid rgb(225, 226, 223);
    border-bottom: 4px solid rgb(173, 110, 38);
    height: 15vh;
    width: 100vw;
    /* max-height: 350px; */
    justify-content: space-between;
    line-height: 0.85;
  }

  h2 {
    font-size: 7vh;

    margin: 0;
    color: rgb(225, 226, 223);
    font-family: "Kumbh Sans", sans-serif;
    font-family: "Roboto", sans-serif;
    margin-right: 25px;
  }

  .content {
    background-color: #202121;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 65vh;
    align-items: space-between;
    justify-content: space-between;
  }

  #project1wrapper,
  #project2wrapper,
  #project3wrapper,
  #project4wrapper {
    display: flex;
    justify-content: center;
    align-items: space-between;
    width: 100vw;
    height: 60vh;
  }

  img {
    height: 35vh;
    width: 80vw;
  }
}
